body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
}
.header{
    text-align:center;
    background-color: #2c3e50;
    color: white;
    padding: 2rem; /*box model*/

}
/*grid*/
.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    padding: 2rem;
}
.card{
    background-color: white;
    padding: 1rem;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
}
/*typography*/
.card h2{
    font-size: 1.6;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
}
.card p{
    line-height: 1.6;
    color: #555;
    margin-bottom: 1.5rem;
}
.card button{
    padding: 0.7rem;
    border: none;
    background-color:#3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3rem;
}
/*hover*/
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.card button:hover{
    background-color: #2c80b4;

}
/*tablet view*/
@media (max-width:900px) {
    .blog-container{
        grid-template-columns: repeat(2,1fr);
    }
    
}
/*mobile view*/
@media(max-width:600px){
    .blog-container{
        grid-template-columns:1fr;
    }
}