body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
}
.feature{
    width: 70%;
    margin: 50px auto;
    text-align: center;
}
.feature h2{
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 30px;
}
.feature ul{
    list-style-type: none;
    padding: 0;

}
.feature ul li{
    background-color: #3498db;
    color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: 2px solid;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 0.5px;
    
}
.feature ul li:hover{
    background-color:#2c80b4;
    cursor: pointer;
}