body{
    font-family: Arial, Helvetica, sans-serif; /*text styling*/
    background-color:#f2f2f2; /*background color*/
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/*heading style*/
h1{
    text-align: center;
    color: black;
    margin-top: 30px;
}

.structure{   
    background-color:white;
    width: 40%;
    margin:30px auto; /*margin*/
    padding: 20px;/*padding*/
    border: 2px solid #3498db; /*border to a section*/
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
}
/*label styling*/
label{
    font-weight: bold;
    color: #333;


}
/*input fileds*/
input[type="text"],input[type="email"],input[type="tel"],input[type="number"],input[type="date"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
input[type="submit"]{
    background-color: #3498db;
    color:white ;
    padding: 10px;
    border:none;
    width:100%
}
/*button hover effect*/
input[type="submit"]:hover{
    background-color: #2980b9;
}